{% extends 'layout.html' %}

{% block title %}
    AskMate
{% endblock %}

{% block content %}

    <center><img src="{{ url_for('static', filename='img/logo.png') }}"></center>
    <div id="list_div">
        <p id="title_text"> {{ title }} </p>
            <div>
                <div id="latest_question_button" class="action_button">
                    <a href="{{ url_for('route_list') }}">Go back</a>
                </div>
            </div>
        <br>
        <form action="{{ url_for('route_add') if title == 'Add new question' else url_for('route_edit', id_=id_) }}" method="POST">
            <table class="align_to_center">
                <input type="hidden" name="id_" value="{{ id_ }}"/>
                <tr><td class="add_edit_label">Question Title</td></tr>
                <tr><td><input class="add_edit_input" type="text" name="title" value="{{ row_title if row_title else '' }}"></td></tr>
                <tr><td class="add_edit_label">Question Message</td></tr>
                <tr><td><textarea class="add_edit_input" name="message" rows="10" cols="50">{{ row_message if row_message else '' }}</textarea></td></tr>
                <tr><td align="center"><input id="add_edit_button" type="submit" value="{{ 'Update question' if id_ else 'Add question'}}"></td></tr>
            </table>
        </form>

    </div>
{% endblock %}