{% extends 'layout.html' %}

{% block title %}
    Welcome! | AskMate
{% endblock %}

{% block content %}
    {% if wrong == none %}
        <div class="wrong-message">Incorrect username or password</div>
    {% endif %}
    <div id="list_div">
    <p id="title_text"> Questions </p>
    <table id="questions_list">
        <tr>
            <th style="width: 80%;" colspan="2"><a href="{{ url_for('route_list', num='1', dir_='asc' if dir_ == 'desc' else 'desc') }}">Title</a></th>
        </tr>
        {% for row in id_title %}
            {% if user_id == row['user_id'] or user_role == 'admin' %}
                <tr>
                    <td><a href="{{ url_for('show_question_details', id_=row['id']) }}">{{ row['title'] }}</a></td>
                    <td align="center" width="10%">
                        <div>
                            <div class="action_button">
                                <a href="{{ url_for('route_edit', id_=row['id']) }}" style="text-decoration: none;"><img class="edit-img" src="{{ url_for('static', filename='img/edit.png') }}"></a>
                            </div>
                            <div class="action_button">
                                <form action="{{ url_for('route_delete', id_=row['id']) }}", method="POST">
                                    <input type="image" name="submit" src="{{ url_for('static', filename='img/trash.png') }}" width="30px"/>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2"><a href="{{ url_for('show_question_details', id_=row['id']) }}">{{ row['title'] }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
{% endblock %}