{% extends 'layout.html' %}

{% block title %}
    Welcome! | AskMate
{% endblock %}

{% block content %}

    <h1>AskMate</h1>
    <br>
    <h2>Questions</h2>
    <br>
    <form action="{{ url_for('route_add_edit')}}">
        <button type="submit">Add new question</button>
    </form>
    <br>
    <table>
        <tr>
            <th>ID&emsp;</th>
            <th>Title</th>
        </tr>
        {% for inner_list in question_table %}
            <tr>
                <td><a href="{{ url_for('route_add_edit', id_=inner_list[0]) }}">{{ inner_list[0] }}</a>&emsp;</td>
                <td><a href="{{ url_for('show_question_details', id_=inner_list[0]) }}">{{ inner_list[1] }}</a>&emsp;</td>
                <td>
                    <form action="http://www.google.com">
                        <button type="submit">Delete question</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}