{% extends 'layout.html' %}

{% block title %}
    AskMate
{% endblock %}

{% block content %}

    <center><img src="{{ url_for('static', filename='img/logo.png') }}"></center>
    <div id="list_div">
        <p id="title_text"> {{ row_title }}
            <a href="{{ url_for('route_list') }}">
                <img src="{{ url_for('static', filename='img/home.png') }}" width="40px" align="left" alt="Back to home"/>
            </a>
        </p>
        <table class="align_to_center">
            <tr>
                <th class="add_edit_label" colspan="2">Question description:</th>
            </tr>
            <tr id="question_details">
                <td>{{ row_question }}</td>
                <td>
                    <a href="#" style="text-decoration: none;"><img src="{{ url_for('static', filename='img/comment.jpg') }}" width="30px"></a>
                    <a href="#" style="text-decoration: none;"><img src="{{ url_for('static', filename='img/edit.png') }}"></a>
                    <form action="#", method="POST">
                        <input type="image" name="submit" src="{{ url_for('static', filename='img/trash.png') }}" width="30px"/>
                    </form>
                </td>
            </tr>
        </table>
        <hr>
        <table id="answer_list" style="width: 80%;">
            <tr>
                <td class="add_edit_label" colspan="2">Answers:</td>
            </tr>
            {% for item in answer_list %}
                <tr>
                    <td id="answer_details">{{ item['message'] }}</td>
                <!--here comes the edit button-->
                    <td>
                        <form>
                            <a href="{{ url_for('edit_answer', answer_id=item['id']) }}" style="text-decoration: none;"><img src="{{ url_for('static', filename='img/edit.png') }}"></a>
                        </form>

                        <form action="{{ url_for('delete_answer', answer_id=item['id']) }}", method="POST">
                            <input type="image" name="submit" src="{{ url_for('static', filename='img/trash.png') }}" width="30px"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <form action="{{ where_url }}", method="POST">
            <table class="align_to_center">
                <tr><td class="add_edit_label">Your Answer:</td></tr>
                <tr><td><textarea class="add_edit_input" name="answer" rows="10" cols="50" >{{ answer_message if answer_message else '' }}</textarea></td></tr>
                <tr><td align="center"><input id="add_edit_button" type="submit" value="{{ 'Update Answer' if answer_message else 'Submit Answer'}}"></td></tr>
            </table>
        </form>
    </div>

{% endblock %}