{% extends 'layout.html' %}

{% block title %}
AskMate
{% endblock %}

{% block content %}
<div class="list_center">
    <div id="latest_question_button" class="action_button" >
        <a href="{{ url_for('route_list') }}">Go back</a>
    </div>
    <div class="align_to_center">
        <img src="{{ url_for('static', filename='img/profile.png')}}" , width="30px" , height="30px">
        <p class="inline_display">User: </p>
        {{ question_username }}<br>
        <p class="inline_display"><img src="{{ url_for('static', filename='img/question_mark.png')}}" , width="30px" ,
                                       height="30px">
            Title:</p> {{ row_title }}<br><br>
        <table class="style_this_table">
            <tr>
                <td class="add_edit_label">
                    Question description:
                </td>
            </tr>
            <tr>
                <td>
                    {{ row_question }}
                </td></tr>
            <tr>
                <td colspan="2" align="left">
                    <a href="{{ url_for('show_question_comments', id_=id_) }}">{{ comment_number }} comment(s)</a>
                </td>
            </tr>
            </table>
        </div>

        <hr>
        <table class="style_this_table">
            <tr>
                <td class="add_edit_label" colspan="2">Answers:</td>
            </tr>
            {% for item in answer_list %}
                {% if item['user_id'] == user_id or user_role == 'admin' %}
                    <tr>
                        <td id="answer_details">{{ item['message'] }}</td>
                    <!--here comes the edit button-->
                        <td width="20px">
                            <form>
                                <a href="{{ url_for('edit_answer', answer_id=item['id']) }}" style="text-decoration: none;"><img class="edit-img" src="{{ url_for('static', filename='img/edit.png') }}"></a>
                            </form>

                            <form action="{{ url_for('delete_answer', answer_id=item['id']) }}" method="POST">
                                <input type="image" name="submit" src="{{ url_for('static', filename='img/trash.png') }}" width="30px"/>
                            </form>

                            <form action="#" method="POST">
                                <input class="accept-btn" type="image" name="submit" src="{{ url_for('static', filename='img/accept.png') }}">
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td id="answer_details" colspan="2">{{ item['message'] }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><a href="{{ url_for('show_answer_comments', answer_id=item['id'], question_id=id_) }}">{{ comment_number_answer [loop.index0] }} comment(s)</a></td>
                        <td>by: {{ authors_of_answers[loop.index0] }}</td>
                    </tr>
            {% endfor %}
        </table>
        <hr>
        {% if user_name %}
        <form action="{{ where_url }}", method="POST">
            <table class="style_this_table">
                <tr><td class="add_edit_label">Your Answer:</td></tr>
                <tr><td><textarea class="add_edit_input" name="answer" rows="10" cols="50" >{{ answer_message if answer_message else '' }}</textarea></td></tr>
                <tr><td align="center"><input id="add_edit_button" type="submit" value="{{ 'Update Answer' if answer_message else 'Submit Answer'}}"></td></tr>
            </table>
        </form>
        {% endif %}
    </div>

{% endblock %}