{% extends 'layout.html' %}

{% block title %}
    AskMate
{% endblock %}


{% block content %}
    <center><img src="{{ url_for('static', filename='img/logo.png') }}"></center>
    <div id="list_div">
        <p id="title_text"> Search results </p>
        <div>
            <div id="latest_question_button" class="action_button">
                <a href="{{ url_for('route_list') }}">Go back</a>
            </div>
        </div>
    <br>
    <table id="questions_list">
        <tr>
            <th style="width: 80%;"><a href="{{ url_for('search', search_phrase=search_phrase, dir_='asc' if dir_ == 'desc' else 'desc') }}">Title</th>
            <th> </th>
        </tr>

        {% for item in found_search %}
        <tr>
            <td><a href="{{ url_for('show_question_details', id_=item['id']) }}">{{ item['title'] }}</td><br>
            <td align="center">
                <div>
                    <div class="action_button">
                        <a href="{{ url_for('route_edit', id_=item['id']) }}" style="text-decoration: none;"><img src="{{ url_for('static', filename='img/edit.png') }}"></a>
                    </div>
                    <div class="action_button">
                        <form action="{{ url_for('route_delete', id_=item['id']) }}", method="POST">
                            <input type="image" name="submit" src="{{ url_for('static', filename='img/trash.png') }}" width="30px"/>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>


{% endblock %}