{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<div id="list_div">
<p id="title_text">Questions asked by You</p>
    <table id="questions_list">
        <tr>
            <th style="width: 80%;"><a href="#">Title</a></th>
            <th> </th>
        </tr>
        {% for row in user_questions %}
        <tr>
            <td><a href="{{ url_for('show_question_details', id_=row['id']) }}">{{ row['title'] }}</a></td>
            <td align="center">
                <div>
                    <div class="action_button">
                        <a href="{{ url_for('route_edit', id_=row['id']) }}" style="text-decoration: none;"><img src="{{ url_for('static', filename='img/edit.png') }}"></a>
                    </div>
                    <div class="action_button">
                        <form action="{{ url_for('route_delete', id_=row['id']) }}", method="POST">
                            <input type="image" name="submit" src="{{ url_for('static', filename='img/trash.png') }}" width="30px"/>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </table>

    <p id="title_text">Answers added by You</p>
    <table id="questions_list">
        <tr>
            <th style="width: 80%;"><a href="#">Title of question you answered</a></th>
            <th style="width: 80%;"><a href="#"># of answers added by You (click on the number to see the answers)</a></th>
        </tr>

        {% for row in user_answers_count %}
        <tr>
            <td><a href="{{ url_for('show_question_details', id_=row['question_id']) }}">{{ row['title'] }}</a></td>
            <td><a href="#"> {{ row['count_answers'] }}</a></td>
        </tr>
            {% for item in user_answers %}
                {% if item['question_id'] == row['question_id'] %}
                <tr>
                    <td>{{ item['message'] }}</td>

                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>

    <p id="title_text">Your comments on questions</p>
    <table id="questions_list" style="margin-bottom: 50px;">
        <tr>
            <th style="width: 80%;"><a href="#">Title of question you commented</a></th>
            <th style="width: 80%;"><a href="#"># of comments added by You (click on the number to see the comments)</a></th>
        </tr>

        {% for row in user_comments_count_question %}
        <tr>
            <td><a href="{{ url_for('show_question_details', id_=row['question_id']) }}">{{ row['title'] }}</a></td>
            <td><a href="#"> {{ row['count_comments'] }}</a></td>
        </tr>
            {% for item in user_comments_on_questions %}
                {% if item['question_id'] == row['question_id'] %}
                <tr>
                    <td>{{ item['comment'] }}</td>

                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>

    <p id="title_text">Your comments on answers</p>
    <table id="questions_list" style="margin-bottom: 50px;">
        <tr>
            <th style="width: 80%;"><a href="#">The answer you commented</a></th>
            <th style="width: 80%;"><a href="#"># of comments added by You (click on the number to see the comments)</a></th>
        </tr>

        {% for row in user_comments_count_answer %}
        <tr>
            <td><a href="{{ url_for('show_question_details', id_=row['question_id']) }}">{{ row['message'] }}</a></td>
            <td><a href="#"> {{ row['count_comments'] }}</a></td>
        </tr>
            {% for item in user_comments_on_answers %}
                {% if item['answer_id'] == row['id'] %}
                <tr>
                    <td>{{ item['comment'] }}</td>

                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>

</div>
{% endblock %}